@use '../../styles/colors' as color;
@use '../../styles/mediaQueries.module' as mQ;

.section {
  background-color: color.$black;
  padding: 48px 0;

  &__titleContainer {
    position: relative;
  }

  &__title {
    color: color.$background-color;
    text-align: center;
  }

  &__descriptionContainer {
    text-align: center;
  }

  &__subtitle {
    text-align: left;
    color: color.$white;
  }

  &__description {
    text-align: center;
    color: color.$border-color;
    padding: 16px 0;
  }

  &__input {
    width: 343px;
    padding: 8px 16px;
    margin-top: 8px;
    background: color.$white;
    border: 2px solid color.$gray-light;
    border-radius: 12px;

    @include mQ.desktop {
      width: 548px;
    }
  }

  &__input:hover {
    border-color: #818181;
  }

  &__input:focus {
    border-color: color.$primary-color;
  }

  &__input:not(:placeholder-shown) {
    border: 1px solid #818181;
  }

  &__field {
    padding: 8px 0 24px;
    display: flex;
    flex-direction: column;
  }

  &__agreement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0 64px;
    width: 343px;

    @include mQ.desktop {
      width: 548px;
    }
  }

  &__agree {
    margin-left: 12px;
    align-self: center;
  }

  input[type='checkbox'] {
    appearance: none;
    border: none;
    opacity: 1;
    cursor: pointer;
  }

  input[type='checkbox']:before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid color.$gray-light;
    border-radius: 6px;
  }

  input[type='checkbox']:checked:before {
    background-color: #21c932;
  }

  &__button {
    width: 343px;
    height: 56px;
  }

  &__errorMessage {
    color: #e44e4e;
  }
}
//
//.container {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//}
