@use '../../styles/colors.scss' as color;
@use '../../styles/fonts.scss' as font;

.section {
  display: grid;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 343px;

  &__title {
    @include font.accented-text;
    margin-bottom: 6px;
  }

  &__description {
    @include font.description-text;
    margin-bottom: 24px;
    color: color.$gray-dark;
  }
}
