@use '../../styles/colors.scss' as color;
@use '../../styles/fonts.scss' as font;
@use '../../styles/mediaQueries.module.scss' as mQ;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center;
  }

  .faq {
    margin-top: 32px;

    .card {
      margin-top: 8px;
      border: 1px solid color.$border-color;
      border-radius: 12px;
      padding: 24px 32px 24px 32px;
      overflow: hidden;
      position: relative;

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        .text {
          @include font.body-text;
        }

        .icon {
          width: 24px;
          height: 32px;
        }
      }

      .answer {
        @include font.description-text;
        opacity: 0;
        padding: 0;
        overflow: hidden;
        color: #6c6c6c;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 24px;
    width: 100%;

    .footerText {
      @include font.description-text;
    }
    .footerLink {
      @include font.body-text;
      color: #2c74d3;
    }
  }
}

@include mQ.tablet {
  .section {
    .faq {
      margin-top: 56px;

      .card {
        .question {
          gap: 64px;
        }
      }
    }
  }
}

@include mQ.desktop {
  .section {
    .faq {
      margin-top: 64px;

      .card {
        .question {
          gap: 64px;
        }
      }
    }
  }
}
