@use '../../styles/mediaQueries.module.scss' as *;
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: $white;
  z-index: 1;
  padding-top: 16px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
  &__buttons {
    display: flex;
    gap: 16px;
    flex: none;
  }

  &__links {
    // flex: 1;
  }
  &__burger {
    cursor: pointer;
    display: block;

    @include desktop {
      display: none;
    }
  }
  &__button {
    height: 40px;
    padding: 10px 16px;
    border: 0;
    border-radius: 12px;
    background: var(--primary-color, #2c74d3);
    color: var(--white, #fcfcfc);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__menu {
    position: fixed;
    background-color: $white;
    display: flex;
    flex-direction: column;
    width: 100%;
    right: -100%;
    height: 100vh;
    background: $white;
    overflow: hidden;
    transition: right 0.5s ease-in-out;

    &.active {
      right: 0;
    }

    @include desktop {
      display: none;
    }
  }

  &__link {
    color: var(--black, #191919);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover {
      border-bottom: 2px solid $black;
    }
  }
}

@include tablet {
  .header {
    padding-top: 32px;
  }
}

@include desktop {
  .header {
    justify-content: center;
    gap: 49.22px;
    padding-top: 0;
  }
}
