@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.header {
  position: sticky;
  top: 0;
  background-color: $white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    z-index: 2;
  }
  &__buttons {
    display: flex;
    gap: 16px;
  }
  &__burger {
    cursor: pointer;
    display: block;

    @media (min-width: 1200px) {
      display: none;
    }
  }
  &__button {
    height: 40px;
    padding: 10px 16px;
    border: 0;
    border-radius: 12px;
    background: var(--primary-color, #2c74d3);
    color: var(--white, #fcfcfc);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
    right: -100%;;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transition: right 0.5s ease-in-out;

    @media (min-width: 1200px) {
      display: none;
    }
  }
  &__links {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    @include description-text;
    font-size: 18px;
  }
  &__link {
    color: var(--black, #191919);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover {
      border-bottom: 2px solid $black;
    }
  }
}

.header__menu.active {
  right: 0;
}

@media (min-width: 1200px) {
  .header {
    justify-content: center;
    gap: 49.22px;
  }
}

