@use '../../styles/mediaQueries.module.scss' as mQ;
@use '../../styles/colors.scss' as color;
@use '../../styles/fonts.scss' as font;

.hideMenu {
  transform: translateY(-100%);
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: 0 20px 50px color.$white;
  background: color.$white;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;

  @include mQ.tablet {
    .header {
      padding-top: 32px;
    }
  }

  @include mQ.desktop {
    .header {
      margin: 0;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    @include mQ.tablet {
      height: 67px;
    }

    @include mQ.desktop {
      height: 111px;
    }
  }

  &__img {
    @include mQ.desktop {
      margin-right: 50px;
    }
  }

  &__buttons {
    display: flex;
    flex: none;
    gap: 16px;

    @include mQ.tablet {
      gap: 32px;
    }
  }

  &__links {
    flex: 1;
  }

  &__burger {
    display: block;
    cursor: pointer;

    @include mQ.desktop {
      display: none;
    }
  }

  &__button {
    padding: 10px 16px;
    height: 40px;
    font-size: 16px;

    @include mQ.tablet {
      margin-left: 48px;
    }

    @include mQ.desktop {
      margin-left: 50px;
      font-size: 20px;
    }
  }

  &__menu {
    display: flex;
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    background: color.$white;
    padding: 88px 0;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    overflow-y: auto;

    @include mQ.tablet {
      padding: 160px 0;
    }

    @include mQ.desktop {
      display: none;
    }

    &.active {
      display: block;
      transform: translate(0);
    }
  }
}
