@use '../../../styles/mediaQueries.module.scss' as mQ;
@use '../../../styles/colors.scss' as color;
@use '../../../styles/fonts.scss' as font;

.container {
  width: 100%;
}

.navlinks {
  display: none;
  list-style: none;

  @include mQ.desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @include font.description-text;
    font-size: 18px;

    @include mQ.tablet {
      gap: 32px;
      @include font.big-body-text;
    }
  }

  .navlink {
    &:hover {
      border-bottom: 2px solid var(--black, #191919);
    }
  }
}
