@use '../../styles/colors' as color;
@use '../../styles/mediaQueries.module' as mQ;
@use '../../styles/fonts.scss' as font;

.container {
  background-color: color.$background-color;

  .contact {
    padding-top: 75px;
    padding-bottom: 58px;
    max-width: 343px;
    margin: 0 auto;

    @include mQ.tablet {
      max-width: 696px;
      padding-top: 69px;
    }

    &__title {
      @include font.accented-text;
      padding-bottom: 16px;

      @include mQ.tablet {
        @include font.h2-font;
        font-weight: bold;
        padding-bottom: 40px;
      }
    }

    &__address {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include mQ.tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
      }
    }

    &__label {
      margin-top: 16px;
      @include font.body-text;
      display: flex;
      align-items: center;
    }

    &__description {
      @include font.description-text;
      color: color.$gray-dark;
      display: flex;
      align-items: center;
    }
  }
}
