@use '../../styles/colors.scss' as color;
@use '../../styles/fonts.scss' as font;

.sliderContainer {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  scroll-behavior: smooth;

  .slide {
    border-radius: 12px;
    overflow: hidden;
  }

  .description {
    padding: 10px 0 10px;
    @include font.accented-text;
    text-align: center;
  }
}
