@use '../../styles/colors.scss' as color;
@use '../../styles/fonts.scss' as font;


.slide {
  border-radius: 12px;
  overflow: hidden;

}

.description {
  padding: 10px 0 10px;
  @include font.body-text;
  text-align: center;
}
