@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';
@import '../../styles//mediaQueries.module.scss';


.footer {
  width: 100vw;
  background-color: $black;
  color: $white;
  padding: 20px;
  text-align: center;


  .container {
    display: grid;
    gap: 20px;
    justify-items: flex-start;
    grid-template-columns: repeat(2, 1fr);


      .link {
        color: $white;
        text-decoration: none;


        &:hover {
          text-decoration: underline;
        }
    }


    .bottomRow {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      color: $gray-dark;


      .text {
        margin: 0;
      }


      .signature {
        display: flex;
        align-items: center;
      }
    }
  }


  @include tablet {
    .container {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;


      .bottomRow {
        grid-column: span 2;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        color: $gray-dark;


        .text {
          margin: 0;
        }
      }
    }
  }


  @include desktop {
    .container {
      grid-template-columns: repeat(4, 1fr);
      align-items: start;


        .link {
          margin: 0 10px;
        }


      .bottomRow {
        grid-column: span 2;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 0;
      }
    }
  }
}
