@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';
@import '../../styles//mediaQueries.module.scss';


.footer {
  background-color: $black;
  color: $white;
  padding: 24px 0 40px;
  text-align: center;   
}

.container {
  display: grid;
  row-gap: 16px;
  justify-items: start;
  grid-template-columns: 1fr auto;
}


.link {
  color: $white;
  text-decoration: none;


  &:hover {
    text-decoration: underline;
  }
}

.bottomRow {
  color: $gray-dark;
  text-align: left;
  margin-top: 8px;
}


.rightsText {
  grid-column: 1 / 3;
}

.signature {
  grid-column: -1 / -2;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 8px;
}

@include tablet {
  .footer {
    padding-bottom: 54px;
  }

  .container {
    grid-template-columns: 1fr 1fr auto;
    gap: 20px;
  }
}


  @include desktop {
    .footer {
      padding-bottom: 24px;
    }

    .container {
      grid-template-columns: repeat(3, 1fr) auto;
      align-items: start;
  }
}
