@use './styles/colors.scss' as color;
@use './styles/mediaQueries.module.scss' as mQ;
@use './styles/fonts.scss' as f;
@import './reset.scss';

html {
  scroll-behavior: smooth;
}

.section {
  padding-top: 36px;
  padding-bottom: 36px;

  @include mQ.tablet {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  @include mQ.desktop {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  &__title {
    @include f.big-text;
    color: color.$black;

    @include mQ.tablet {
      @include f.h2-font;
    }
  }

  &__subtitle {
    @include f.accented-text;
    color: color.$black;

    @include mQ.tablet {
      @include f.h5-font;
    }
  }

  &__description {
    @include f.description-text;
    color: color.$gray-dark;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 343px;

  @include mQ.tablet {
    max-width: 696px;
  }

  @include mQ.desktop {
    max-width: 1120px;
  }
}
