@use '../../styles/fonts.scss' as font;
@use '../../styles/colors.scss' as color;
@use '../../styles//mediaQueries.module.scss' as mQ;

.container {
  background-color: color.$background-color;
}

.whySection {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 343px;
  padding: 48px 0 24px 0;

  @include mQ.tablet {
    max-width: 696px;
    padding: 52px 0 48px 0;
  }

  @include mQ.desktop {
    max-width: 1120px;
    padding: 82px 0 67px 0;
  }

  &__title {
    @include font.accented-text;
    margin-bottom: 24px;
    text-align: left;

    @include mQ.tablet {
      @include font.h2-font;
      font-weight: bold;
      margin-bottom: 48px;
    }

    @include mQ.desktop {
      margin-bottom: 67px;
    }
  }

  &__subsection {
    border-radius: 16px;
    border: 1px solid color.$border-color;
    background: color.$white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 24px;
    width: 100%;

    @include mQ.tablet {
      width: calc(50% - 12px);
      padding: 24px 32px;
      gap: 16px;
    }

    @include mQ.desktop {
      width: calc(50% - 16px);
    }
  }

  &__container {
    display: flex;
    width: 100%;
    gap: 16px;
    flex-wrap: wrap;

    @include mQ.tablet {
      gap: 24px;
    }

    @include mQ.desktop {
      gap: 32px;
    }
  }

  &__text {
    @include font.description-text;
    color: color.$gray-dark;
    text-align: left;
  }

  &__subtitle {
    @include font.body-text;
    text-align: left;

    @include mQ.tablet {
      @include font.h5-font;
    }
  }

  &__img {
    width: 40px;
  }
}
