@use '../../styles/mediaQueries.module.scss' as *;
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 343px;

  @include tablet {
    max-width: 100vw;
  }

  @include desktop {
    max-width: 1120px;
  }
}

.gallerySection {
  padding-top: 72px;

  @include tablet {
    padding-top: 124px;
  }

  @include desktop {
    padding-top: 154px;
  }

  &__title {
    @include big-text;
    font-weight: 500;
    margin-bottom: 24px;
    text-align: left;
    padding-left: 0;

    @include tablet {
      padding-left: 11.11%;
      @include h2-font;
    }

    @include desktop {
      padding-left: 0;
    }
  }

  &__description {
    @include description-text;
    color: $gray-dark;
    margin: 16px 0 32px;
    display: block;
    max-width: 343px;
    text-align: left;
    padding-left: 0;

    @include tablet {
      max-width: 644px;
      padding-left: 17.71%;
      margin: 56px 0 64px;
    }

    @include desktop {
      padding-left: 113px;
    }
  }

  &__container {
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    overflow: hidden;

    @include tablet {
      height: 509px;
      flex-direction: row;
    }
  }
}

.embla {
  overflow: hidden;
  width: 100%;

  @include tablet {
    display: flex;
    justify-content: center;
  }
}

.embla__container {
  display: flex;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }
}

.embla__slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    min-width: auto;
    width: 358px;

    &:nth-child(1) {
      align-self: flex-end;
    }

    &:nth-child(2) {
      align-self: flex-start;
    }

    &:nth-child(3) {
      align-self: center;
    }
  }
}

.img__container {
  position: relative;
  width: 343px;
  height: 427px;
  margin: 0 10px 20px 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  @include tablet {
    width: 358px;
    height: 444px;
    margin: 0 10px;
  }
}

.img__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  background: $background-color;
  color: $black;
  padding: 10px 16px;
  border-radius: 0 12px;
  font-size: 1rem;
}